.homepage {
  width: 100%;
  font-weight: bold;
  position: relative;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;

  .wrap {
    width: 100%;
    height: 86rem;
    position: relative;
    display: block;
    background: url("../../assets/present.jpg") center center no-repeat;
    background-size: auto 100%;

    .container {
      position: absolute;
      width: 83rem;
      height: 40rem;
      top: 20rem;
      left: 0%;
      //background-color: #ffffff;
      color: #ffffff;
      text-align: right;

      h1 {
        font-family: "Nunito", sans-serif;
        font-size: 12rem;
        padding: 0;
        margin: 0;
        margin-top: 5rem;
        height: 14rem;
      }

      .desc {
        font-family: "Raleway", sans-serif;
        font-weight: normal;
        font-size: 2.4rem;
        width: 100%;
        margin-top: 0;
      }

      .wrapper {
        width: 100%;
        height: auto;
        margin-top: 7rem;

        a {
          background: none;
          border: 2px solid #ffffff;
          color: white;
          padding: 3rem;
          font-family: "Raleway", sans-serif;
          font-size: 2rem;
          width: 25rem;
          text-decoration: none;
          font-weight: normal;
          border-radius: 0.5rem;
        }

        a:hover {
          opacity: 0.4;
        }
      }
    }
  }

  .featured {
    width: 90%;
    margin: 5rem auto;
    padding: 0;

    .title {
      width: 100%;
      height: 8rem;
      font-family: "Raleway", sans-serif;
      font-weight: normal;
      font-size: 3rem;
      text-align: center;
      border-bottom: 1px solid #c7c7c7;
    }

    .products {
      width: 100%;

      .productRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;

        a {
          color: black;
          text-decoration: none;
          font-size: 1.8rem;
          width: 20%;
        }

        .item {
          width: 100%;
          text-align: center;
          font-weight: lighter;

          .container {
            position: relative;
            width: 100%;

            img {
              display: block;
              width: 100%;
              height: auto;
            }

            .overlay {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: rgba(177, 215, 255, 0.7);
              overflow: hidden;
              width: 100%;
              height: 0;
              transition: 0.25s ease;

              .text {
                color: black;
                opacity: 1 !important;
                font-size: 2.4rem;
                font-weight: lighter;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
                z-index: 1;
              }
            }
          }

          .container:hover .overlay {
            height: 100%;
          }

          .productName {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
