.homepage {
  width: 100%;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;

  .wrap {
    width: 100%;
    
    img {
      width: 100%;
      position: relative;
      
    }

    .container {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 40rem;
      color: #ffffff;
      text-align: right;
      margin-left: 10%;
      margin-top: 5%;
      z-index: 500;

      h1 {
        font-family: "Nunito", sans-serif;
        font-size: 7vw;
        padding: 0;
        margin: 0;
        margin-top: 5rem;
      }

      .desc {
        font-family: "Raleway", sans-serif;
        font-weight: normal;
        font-size: 1.5vw;
        width: 100%;
        margin-top: -2rem;
      }

      .wrapper {
        width: 100%;
        height: auto;
        margin-top: 2.5vw;

        a {
          background: #00519a;
          border: 2px solid #00519a;
          color: white;
          padding: 1.5vw;
          font-family: "Raleway", sans-serif;
          font-size: 1vw;
          width: 5vw;
          text-decoration: none;
          font-weight: bold;
          border-radius: 0.5rem;
        }

        a:hover {
          border-color: white;
          box-shadow: 5px 5px 10px 0px #7a7a7a;
        }
      }
    }
  }

  .featured {
    width: 90%;
    margin: 5rem auto;
    padding: 0;

    .title {
      width: 100%;
      height: 8rem;
      font-family: "Raleway", sans-serif;
      font-weight: normal;
      font-size: 4rem;
      text-align: center;
      border-bottom: 1px solid #c7c7c7;
    }

    .products {
      width: 100%;

      .productRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;

        a {
          color: black;
          text-decoration: none;
          font-size: 1vw;
          width: 20%;
        }

        .item {
          width: 100%;
          text-align: center;
          font-weight: lighter;

          .container {
            position: relative;
            width: 100%;

            img {
              display: block;
              width: 100%;
              height: auto;
            }

            .overlay {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              //background-color: rgba(177, 215, 255, 0.7);
              background: rgba(85, 85, 85, 0.5);
              overflow: hidden;
              width: 100%;
              height: 0;
              transition: 0.25s ease;

              .text {
                color: white;
                opacity: 1 !important;
                font-size: 2.4rem;
                font-weight: normal;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
                z-index: 1;
              }
            }
          }

          .container:hover .overlay {
            height: 100%;
          }

          .productName {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
