.header {
    height: 9rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    border-bottom: solid 1px #c7c7c7;

    .wrap {
        position: relative;
        height: 100%;
        max-width: 100%;
        margin: 0 auto;
        z-index: 1;
        background-color: #ffffff;

        .clusterLeft {
            width: 30rem;
            position: absolute;
            top: 50%; left: 2rem;
            -webkit-transform:  translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
    
            .container {
                display: inline;

                .homeLink {
                    margin-right: 2rem;
                }
                a {
                    text-decoration: none;
                    color: black;
                }
            }
    
            a:hover {
                opacity: 0.4;
            }
            
        }

        .logo  {
            width: 25rem;
            position: absolute;
            top: 50%; left: 50%;
            -webkit-transform:  translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            margin-left: -12.5rem;

            img {
                display: block;
                width: 100%;
                margin: 0;
            }
        }

        .clusterRight {
            
            width: 24rem;
            position: absolute;
            top: 50%; right: 6rem;
            -webkit-transform:  translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);

            a {
                display: inline;
                margin-left: 2rem;
                text-decoration: none;
                color: black;
                
            }

            a:hover {
                opacity: 0.4;
            }
        }
    }
}

.container { position: relative; width: 100%; }

/* relevant styling */

body { overflow-x: hidden; } /* trick from css-tricks comments */

/* FIRST LEVEL */

.clusterLeft > ul > li { 
    display: inline; 
    position: relative; 
    padding: 0 0 3.6rem 0;
    z-index: 1;
    margin-right: 2rem;
}

/* SECOND LEVEL */

.clusterLeft > ul > li > ul {
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0 1000em; /* trick from css-tricks comments */
    margin: 0 -1000em; /* trick from css-tricks comments */
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    background: rgba(85, 85, 85, 0.8);
    width: 160rem;
    height: 7.0rem;
    box-shadow: 0px 5px 10px 0px #7a7a7a;

    :last-of-type {
        border-right: solid 1px #c7c7c7;
    }
}

.clusterLeft > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
}

.clusterLeft > ul > li > ul > li {
    display: inline;
    position: relative;
    top: 35%;
    padding: 1rem 2rem;
    text-align: center;
    border-left: solid 1px #c7c7c7;
    color: white;
}

.clusterLeft > ul > li > ul > li > a{
    color: white !important;
    border: none !important;
}

.brandsList {
    transform: translateX(-10rem);
}